<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Carte des Positions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map" style="height: 70vh; width: 100%;"></div>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Positions enregistrées: {{ positions.length }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="refreshMap()">
        🔄 Rafraîchir la carte
      </ion-button>
      <ion-button expand="block" color="danger" (click)="clearAllPositions()">
        🗑️ Supprimer toutes les positions
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>